.song-list {
    list-style-type: none;
    background-color: var(--background-elevated-base);
    border-radius: 8px;
    padding: 16px;
}

.song-list li {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.song-list li:hover {
    background-color: var(--background-tinted-highlight);
}



