.album-image {
    width: 232px;
    height: 232px;
    object-fit: cover;
    margin-right: 24px;
}

.artist-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.song-list {
    list-style-type: none;
    background-color: var(--background-elevated-base);
    border-radius: 8px;
    padding: 16px;
}

.song-list li {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.song-list li:hover {
    background-color: var(--background-tinted-highlight);
}

.song-number {
    color: var(--text-subdued);
    margin-right: 16px;
    font-variant-numeric: tabular-nums;
    min-width: 16px;
    text-align: right;
}

.song-title {
    flex-grow: 1;
    font-size: 16px;
    color: var(--text-base);
    text-decoration: none;
}

.song-title:hover {
    text-decoration: underline;
}

