header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    padding: 60px 0;

}

.artist-info {
    flex-grow: 1;
}

.artist-type {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.artist-bio {
    font-size: 14px;
    color: var(--text-subdued);
    max-width: 800px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 24px;
    scroll-behavior: smooth;
}

.album {
    background-color: var(--background-elevated-base);
    width: 200px;
    height: auto;
    border-radius: 8px;
    padding: 16px;
    transition: background-color 0.3s ease;
}

.album:hover {
    background-color: var(--background-elevated-highlight);
}

.album img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.album p {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-base);
}

.artist {
    background-color: var(--background-elevated-base);
    width: 200px;
    height: auto;
    border-radius: 8px;
    padding: 16px;
    transition: background-color 0.3s ease;
}

.artist:hover {
    background-color: var(--background-elevated-highlight);
}

.artist img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 24px;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    margin-bottom: 8px;
}

.artist p {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-base);
}

.song-list {
    list-style-type: none;
}

.song-list li {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.song-list li:hover {
    background-color: var(--background-tinted-highlight);
}

.song-number {
    color: var(--text-subdued);
    margin-right: 16px;
    font-variant-numeric: tabular-nums;
    min-width: 16px;
    text-align: right;
}

.song-title {
    flex-grow: 1;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.user-stats {
    display: flex;
    margin-bottom: 16px;
}

.stat-item {
    margin-right: 20px;
    font-size: 14px;
    color: var(--text-subdued);
}

.stat-item strong {
    color: var(--text-base);
    font-weight: bold;
}