.form-container {
    /* margin-right: 40px; */
}

.element-details-container {
    width: 100%;
}

.song-details-container {
    flex-direction: row;
}

.sub-element-container {
    background-color: #242424;
    width: auto;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sub-element-container:hover {
    background-color: #2a2a2a;
    transform: scale(1.03);
}

.sub-element-image-preview {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}