.review-container {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 700px;
    margin: 15px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Añadido para posicionar las estrellas absolutamente */
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item-cover {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.review-header-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.review-header-info h2 {
    font-size: 20px;
    margin: 0 auto;
    color: white;
}

.review-header-info p {
    font-size: 14px;
    color: #a7a7a7;
    margin: 5px 0 0;
}

.star-rating-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.star-rating {
    color: #ffd700;
    font-size: 24px;
    display: inline-block;
    white-space: nowrap;
}

.review-content {
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.review-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-content p {
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    color: #c3c3c3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.review-footer > div:first-child {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}


.user-name {
    font-size: 14px;
    font-weight: bold;
}

.review-actions {
    display: flex;
    align-items: center;
}


.review-actions a {
    color: #a7a7a7;
    text-decoration: none;
    margin-left: 6px;
    font-size: 14px;
}

.review-actions a:hover {
    color: #fff;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.separator{
    border-top: 1px solid #434343;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .review-container {
        height: auto;
        min-height: 300px;
    }
}