.small-container {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.creator-item img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    background-color: hsla(0,0%,100%,.1);
    padding: 10px;
    border-radius: 8px;
}

.creator-item {
    color: white;
    padding: 10px;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 8px;
}

.small-container .album-info {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    max-width: 250px;
}

.album-card {
    background-color: hsla(0,0%,100%,.1);
    color: white;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 20px;
}

.small-container .album-image {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 12px;
}

.album-name {
    font-size: 16px;
    font-weight: 700;
}