<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>webapp</display-name>

    <!-- Contexto Spring -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            ar.edu.itba.paw.webapp.config.ApiConfig
            ar.edu.itba.paw.webapp.config.ApiAuthConfig
            ar.edu.itba.paw.webapp.config.EmailConfig
            ar.edu.itba.paw.webapp.config.JacksonConfig
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- UTF-8 Encoding -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Entity manager persistence context -->
    <filter>
        <filter-name>openEntityManagerInView</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>openEntityManagerInView</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Jersey como servlet -->
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                ar.edu.itba.paw.webapp.controller,
                ar.edu.itba.paw.webapp.mapper,
                ar.edu.itba.paw.webapp.filter,
                ar.edu.itba.paw.webapp.config,
                ar.edu.itba.paw.webapp.context,
                ar.edu.itba.paw.webapp.exception.mapper,
                ar.edu.itba.paw.webapp.exception
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- https://stackoverflow.com/questions/5750484/tomcat-is-setting-no-cache-for-js-and-css-file -->
    <!-- Unconditional Cache Filter -->
    <filter>
        <filter-name>UnconditionalCacheFilter</filter-name>
        <filter-class>ar.edu.itba.paw.webapp.filter.UnconditionalCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UnconditionalCacheFilter</filter-name>
        <url-pattern>/static/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UnconditionalCacheFilter</filter-name>
        <url-pattern>/assets/*</url-pattern>
    </filter-mapping>

    <!-- Redirect all requests to index.html so that React Router handles routes -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/_next/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>